.leaflet-bottom {
    display: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}


#map {
    width: 100%;
    height: 100vh;
    background-color: #242C2F;
}





.controls-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    z-index: 999999;
    height: 100%;
    height: -webkit-fill-available;
    width: 100%;
    width: -webkit-fill-available;
}

.control-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control-content {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 2px;
    height: 30px;
    margin-right: 10px;
}

.controls-container button {
    border: none;
    height: 30px;
    width: 30px;
    background-color: antiquewhite;
    cursor: pointer;
}

.controls-container button i{
    font-size: 16px;
}

.controls-container span{
    padding: 0px 8px;
    font-size: 14px;
    font-family: roboto;
    border-left: 1px solid #ababab;
    border-right: 1px solid #ababab;
}

.control-content p {
    font-family: roboto;
    color: #000;
    padding: 0 8px;
}

.top-left-container {
    display: flex;
    align-items: center;
}