

#side-bar {
    width: 400px;
    padding: 30px;
    border-right: 1px solid #3d3d3d;
    background-color: #1d2123;
}

.side-bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;    
}

.side-bar-header img {
    width: 30px;
    height: 40px;
    cursor: pointer;
}