@import url("side-bar.css");
@import url("map.css");

:root{

}


#body-container {
    display: flex;
    height: 100vh;
    background-color: #1c1c1c;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}
