@import url("normalize.css");
@import url("loading-screen.css");
@import url("side-bar.css");
@import url("map.css");

:root{

}


#body-container {
    display: flex;
    height: 100vh;
    background-color: #242C2F;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    opacity: 0;
    transition: all 1s linear;
}

#main-container.visible {
    opacity: 1;
    transition: all 1s linear;
}

#main-container.hidden {
    opacity: 0;
    transition: all 1s linear;
}